@import "../variable/variable";
@import "../mixin/font";

.content-page {

.content-text {
    background-color: $white;
    padding: 50px;
    margin-top: 25px;
font-family: Roboto, sans-serif;

h4 {
    font-size: 20px;
    font-weight: 600;
margin-top: 30px;
}

p {
  font-size: 17px;
  color: $black;
margin-bottom: 20px;
  margin-top: 5px;
}

ul,
ol {
  margin-top: 10px;
  margin-left: 40px;
li {
    padding-bottom: 8px;
  }
}

ol>li::marker {
  font-weight: bold;
}
}
}